@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jalnanche';
  src: url('../public/assets/fonts/Jalnanche.ttf');
}

body {
  font-family: 'Jalnanche';
}
a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
